{% extends "base.html" %}

{% block app_content %}
	<h1>About the Charge Control app!</h1>
	<div class="jumbotron">
      <p>This application was created to control a Keba charger when no charging control intelligence is found elsewhere.</p>
	  <p>The application controls the charge current, so you can set it to fx. match your solar panel production</p>
      <p>Instead of setting charge hours in your car, this app can be utilized</p><br>
	  <a class="btn btn-lg btn-default" role="button" href="{{ url_for('index') }}">Home</a>
    </div>
{% endblock %}