<!doctype html>
<html>
    <head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />

		{% if title %}
		<title>{{ title }} - Charge Limit</title>
		{% else %}
		<title>Welcome to Charge Limit</title>
		{% endif %}

		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
	<body align="center">
		<div>
			Charge Limit:
			<a href="{{ url_for('index') }}">Home</a>
			<a href="http://192.168.99.143/" target="_blank">Keba Wallbox</a>
			<a href="https://sma3006926728/#/smartView" target="_blank">SMA Solar</a>
		</div>
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>